{% extends 'panel_usuario_base.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block navbar %} {{ parent() }} {% endblock %}
{% block status_bar %} {% endblock %}
{% block body %} {{ parent() }} {% endblock %}


{% block contenido %} 

<div class="row">
    <div class="col-md-6 col-sm-5" id="login">
        <form class="form-horizontal" action="{{ path('login', {'page': ''}) }}" method="post" >
          <fieldset>
            <legend>Login Test </legend>
            <div class="form-group" >
              <label for="inputUsuario" class="col-lg-2 control-label">Usuario</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="inputUsuario" name="inputUsuario" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-2 control-label">Password</label>
              <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Recordar
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Login</button>
                <hr>
                <button type="button" class="btn btn-info" onclick="swicht()">Registrarse</button>
              </div>
            </div>
          </fieldset>
        </form>
    </div>
    <div class="col-md-8 col-sm-10" id="register" >
        <div class="box-static box-transparent box-bordered padding-30">
            <div class="box-title margin-bottom-30">
                <legend>Crear cuenta</legend>
            </div>
            <form class="nomargin sky-form" action="#" method="post" enctype="multipart/form-data">
                <fieldset>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3 control-label">
                                <label>Nombres *</label>
                                <label class="input margin-bottom-10">
                                    <i class="ico-append fa fa-user"></i>
                                    <input required="" type="text">
                                    <b class="tooltip tooltip-bottom-right">Nombres</b>
                                </label>
                            </div>
                            <div class="col-lg-3 control-label">
                                <label for="register:last_name">Apellidos *</label>
                                <label class="input margin-bottom-10">
                                    <i class="ico-append fa fa-user"></i>
                                    <input required="" type="text">
                                    <b class="tooltip tooltip-bottom-right">Apellidos</b>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3 control-label">
                                <label for="register:email">Email *</label>
                                <label class="input margin-bottom-10">
                                    <i class="ico-append fa fa-envelope"></i>
                                    <input required="" type="text">
                                    <b class="tooltip tooltip-bottom-right">Email</b>
                                </label>
                            </div>
                            <div class="col-lg-3 control-label">
                                <label for="register:phone">Teléfono</label>
                                <label class="input margin-bottom-10">
                                    <i class="ico-append fa fa-phone"></i>
                                    <input type="text">
                                    <b class="tooltip tooltip-bottom-right">Teléfono (opcional)</b>
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3 control-label">
                                <label for="register:pass1">Contraseña *</label>
                                <label class="input margin-bottom-10">
                                    <i class="ico-append fa fa-lock"></i>
                                    <input required="" type="password" class="err">
                                    <b class="tooltip tooltip-bottom-right">Min. 6 caracteres</b>
                                </label>
                            </div>
                            <div class="col-lg-3 control-label">
                                <label for="register:pass2">Confirmar Contraseña *</label>
                                <label class="input margin-bottom-10">
                                    <i class="ico-append fa fa-lock"></i>
                                    <input required="" type="password" class="err">
                                    <b class="tooltip tooltip-bottom-right">Ingrese el password otra vez</b>
                                </label>
                            </div>

                        </div>
                    </div>
                    <hr />
                    <label>
                        <input class="checked-agree" type="checkbox" name="checkbox"><i></i>Acepto los <a href="#" data-toggle="modal" data-target="#termsModal">Términos y condiciones de servicio</a>
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" name="checkbox"><i></i>Quiero recibir noticias y ofertas especiales</label>
                </fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary"> Aceptar</button>
                        <hr>
                        <button type="button" class="btn btn-info" onclick="swicht2()">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>                    

</div>

{% endblock %}


{% block footer %}  {{ parent() }}  {% endblock %}


{% block script %}{{ parent() }}  

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);

    </script>
    <!--Ecorp Ocualtar registo-->
    <script type="text/javascript">
        $('#register').hide();
    
        function swicht(){
            $('#register').show();
            $('#login').hide();
        }
    
        function swicht2(){
            $('#login').show();
            $('#register').hide();
        }
    </script>


{% endblock %}
