{% extends 'panel_usuario_base.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block navbar %} {{ parent() }} {% endblock %}
{% block status_bar %} {{ parent() }} {% endblock %}
{% block body %} {{ parent() }} {% endblock %}


{% block contenido %} 
            

        <legend>Reservación de Servicios: </legend>
        
        <div class="bs-docs-section">
          <div class="row">
            <div class="col-lg-12">
                <blockquote>
                    <p>Haga sus reservas comodamente desde su celular, tablet o computadora en cualquier momento y sitio donde se encuentre</p>
                    <p>Seleccione los servicios y configure el horario disponible</p>
                    <p>Podrá abonar sus reservas con tarjeta de crédito <strong>con un simple click</strong>.</p>
                    <p>Si tiene alguna duda puede contactarse con Añoranzas Chaqueñas enviando un <a href="#"> mensaje por aqui </a></p>
                </blockquote>

                
            </div>
          </div>
          <div class="row">
              <div class="col-lg-11">
                  <ul class="nav nav-tabs">

                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          Alojamiento <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="#posada" data-toggle="tab">Posada</a></li>
                          <li class="divider"></li>
                          <li><a href="#camping" data-toggle="tab">Camping</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          Actividades Nauticas <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="#guia_pesca" data-toggle="tab">Guia de Pesca</a></li>
                          <li class="divider"></li>
                          <li><a href="#paseo_nautico" data-toggle="tab">Paseo Nautico</a></li>
                          <li class="divider"></li>
                          <li><a href="#pesca" data-toggle="tab">Pesca</a></li>
                        </ul>
                      </li>
                      <li class=""><a href="#restaurant" data-toggle="tab" aria-expanded="false">Restaurant</a></li>
                      <li class=""><a href="#cabalgata" data-toggle="tab" aria-expanded="false" >Cabalgata</a></li>
                    </ul>

                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="restaurant">
                            <!-- RESTAURANT -->
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{servicios['restaurant'].servicio.nombre}}</h3>
                                </div>
                                <div class="panel-body ">
                                    <div class="col-lg-11">
                                        <div class="well">
                                          <form class="form-horizontal">
                                                <div class="form-group col-lg-4">
                                                    <label for="inputPassword" class="control-label">Fecha</label>
                                                    <div class="input-group col-lg-10">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                                        <input type="text" style="width: 200px" name="fecha_restaurant" id="fecha_restaurant" class="form-control" value="03/18/2016 - 03/23/2016" />
                                                    </div>
                                                </div>

                                                <div class="form-group col-lg-4">
                                                    <label for="select" class="control-label">Horarios</label>
                                                    <div class="input-group col-lg-10">
                                                      <select class="form-control">
                                                        {%for  item in horarios['restaurant'] %}
                                                        <option>{{item.horaInicio|date("h:m:s")}} - {{item.horaFin|date("h:m:s")}}</option>
                                                        {% endfor %}
                                                      </select>
                                                    </div>
                                                </div>

                                                <div class="form-group col-lg-3">
                                                    <label for="inputCant" class="control-label">Personas</label>
                                                    <div class="input-group col-lg-8">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user fa fa-user"></i></span>
                                                        <input type="text" class="form-control" id="inputCant" placeholder="1">
                                                    </div>
                                                </div>
                                    
                                                <div class="form-group">
                                                    <div class="col-lg-10 col-lg-offset-8">
                                                        <button type="reset" class="btn btn-default">Reset</button>
                                                        <button type="submit" class="btn btn-primary">Reservar</button>
                                                    </div>
                                                </div>
                                          </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /RESTAURANT  -->
                        </div>

                        <div class="tab-pane fade" id="cabalgata">
                            <!-- CABALGATA -->
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{servicios['cabalgata'].servicio.nombre}}</h3>
                                </div>
                                <div class="panel-body ">
                                    <div class="col-lg-11">
                                        <div class="well">
                                          <form class="form-horizontal">
                                                <div class="form-group col-lg-4">
                                                    <label for="inputPassword" class="control-label">Fecha</label>
                                                    <div class="input-group col-lg-10">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                                        <input type="text" style="width: 200px" name="fecha_cabalgata" id="fecha_cabalgata" class="form-control" value="03/18/2016 - 03/23/2016" />
                                                    </div>
                                                </div>

                                                <div class="form-group col-lg-4">
                                                    <label for="select" class="control-label">Horarios</label>
                                                    <div class="input-group col-lg-10">
                                                      <select class="form-control">
                                                        {%for  item in horarios['cabalgata'] %}
                                                        <option>{{item.horaInicio|date("h:m:s")}} - {{item.horaFin|date("h:m:s")}}</option>
                                                        {% endfor %}
                                                      </select>
                                                    </div>
                                                </div>

                                                <div class="form-group col-lg-3">
                                                    <label for="inputCant" class="control-label">Personas</label>
                                                    <div class="input-group col-lg-8">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user fa fa-user"></i></span>
                                                        <input type="text" class="form-control" id="inputCant" placeholder="1">
                                                    </div>
                                                </div>
                                        

                                                
                                                    <div class="form-group">
                                                    <div class="col-lg-10 col-lg-offset-8">
                                                        <button type="reset" class="btn btn-default">Reset</button>
                                                        <button type="submit" class="btn btn-primary">Reservar</button>
                                                    </div>
                                                    </div>
                                          </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /CABALGATA -->
                        </div>
                        <div class="tab-pane fade" id="posada">
                             <!-- POSADA -->
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{servicios['posada'].servicio.nombre}}</h3>
                                </div>
                                <div class="panel-body ">
                                    <div class="col-lg-11">
                                        <div class="well">
                                          <form class="form-horizontal">
                                                <div class="form-group col-lg-4">
                                                    <label for="inputPassword" class="control-label">Fecha</label>
                                                    <div class="input-group col-lg-10">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                                        <input type="text" style="width: 200px" name="fecha_posada" id="fecha_posada" class="form-control" value="03/18/2016 - 03/23/2016" />
                                                    </div>
                                                </div>

                                                <div class="form-group col-lg-3">
                                                    <label for="inputCant" class="control-label">Personas</label>
                                                    <div class="input-group col-lg-8">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user fa fa-user"></i></span>
                                                        <input type="text" class="form-control" id="inputCant" placeholder="1">
                                                    </div>

                                                </div>

                                                <div class="col-lg-8 ">
                                                    <button type="button" class="btn btn-info" onclick="requestHabitacionesDisponibles();">Buscar Habitaciones</button>
                                                </div>

                                                <div class="col-lg-8" id="div_habitaciones">
                                                    <label for="inputPassword" class="control-label">Habitaciones</label>
                                                    <table class="table table-striped table-hover" id="tb_habitaciones">
                                                      <thead>
                                                        <tr>
                                                          <th>#</th><th>Camas</th><th>Valor</th><th><span class="nobr">Selección  </span></th>
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                        <!-- Las Habitaciones que ajax responda-->
                                                      </tbody>
                                                    </table>
                                                </div>
                                                    <div class="form-group">
                                                    <div class="col-lg-10 col-lg-offset-8">
                                                        <button type="reset" class="btn btn-default">Reset</button>
                                                        <button type="submit" class="btn btn-primary">Reservar</button>
                                                    </div>
                                                    </div>
                                          </form>
                                        </div>
                                    </div>
                                    

                                </div>
                            </div>
                            <!-- /POSADA -->
                        </div>
                        <div class="tab-pane fade" id="guia_pesca">
                            <!-- GUIA PESCA -->
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Guia de Pesca</h3>
                                </div>
                                <div class="panel-body ">
                                    <div class="col-lg-11">
                                        <div class="well">
                                          <form class="form-horizontal">
                                                <div class="form-group col-lg-4">
                                                    <label for="inputPassword" class="control-label">Fecha</label>
                                                    <div class="input-group col-lg-10">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                                        <input type="text" style="width: 200px" name="fecha_guia_pesca" id="fecha_guia_pesca" class="form-control" value="03/18/2016 - 03/23/2016" />
                                                    </div>
                                                </div>

                                                <div class="form-group col-lg-4">
                                                    <label for="select" class="control-label">Horarios</label>
                                                    <div class="input-group col-lg-10">
                                                      <select class="form-control">
                                                        {%for  item in horarios['guia_pesca'] %}
                                                        <option>{{item.horaInicio|date("h:m:s")}} - {{item.horaFin|date("h:m:s")}}</option>
                                                        {% endfor %}
                                                      </select>
                                                    </div>
                                                </div>

                                                <div class="form-group col-lg-3">
                                                    <label for="inputCant" class="control-label">Personas</label>
                                                    <div class="input-group col-lg-8">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user fa fa-user"></i></span>
                                                        <input type="text" class="form-control" id="inputCant" placeholder="1">
                                                    </div>
                                                </div>
                                        

                                                
                                                    <div class="form-group">
                                                    <div class="col-lg-10 col-lg-offset-8">
                                                        <button type="reset" class="btn btn-default">Reset</button>
                                                        <button type="submit" class="btn btn-primary">Reservar</button>
                                                    </div>
                                                    </div>
                                          </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /GUIA PESCA  -->                            
                        </div>
                        <div class="tab-pane fade" id="paseo_nautico">
                            <!-- PASEO NAUTICO -->
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{servicios['paseo_nautico'].servicio.nombre}}</h3>
                                </div>
                                <div class="panel-body ">
                                    <div class="col-lg-11">
                                        <div class="well">
                                          <form class="form-horizontal">
                                                <div class="form-group col-lg-4">
                                                    <label for="inputPassword" class="control-label">Fecha</label>
                                                    <div class="input-group col-lg-10">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                                        <input type="text" style="width: 200px" name="fecha_paseo_nautico" id="fecha_paseo_nautico" class="form-control" value="03/18/2016 - 03/23/2016" />
                                                    </div>
                                                </div>

                                                <div class="form-group col-lg-4">
                                                    <label for="select" class="control-label">Horarios</label>
                                                    <div class="input-group col-lg-10">
                                                      <select class="form-control">
                                                        {%for  item in horarios['paseo_nautico'] %}
                                                        <option>{{item.horaInicio|date("h:m:s")}} - {{item.horaFin|date("h:m:s")}}</option>
                                                        {% endfor %}
                                                      </select>
                                                    </div>
                                                </div>

                                                <div class="form-group col-lg-3">
                                                    <label for="inputCant" class="control-label">Personas</label>
                                                    <div class="input-group col-lg-8">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user fa fa-user"></i></span>
                                                        <input type="text" class="form-control" id="inputCant" placeholder="1">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-10 col-lg-offset-8">
                                                        <button type="reset" class="btn btn-default">Reset</button>
                                                        <button type="submit" class="btn btn-primary">Reservar</button>
                                                    </div>
                                                </div>
                                          </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /PASEO NAUTICO -->
                        </div>
                        <div class="tab-pane fade" id="pesca">
                            <!-- PESCA-->
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{servicios['pesca'].servicio.nombre}}</h3>
                                </div>
                                <div class="panel-body ">
                                    <div class="col-lg-11">
                                        <div class="well">
                                          <form class="form-horizontal">
                                                <div class="form-group col-lg-4">
                                                    <label for="inputPassword" class="control-label">Fecha</label>
                                                    <div class="input-group col-lg-10">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                                        <input type="text" style="width: 200px" name="fecha_pesca" id="fecha_pesca" class="form-control" value="03/18/2016 - 03/23/2016" />
                                                    </div>
                                                </div>


                                                <div class="form-group col-lg-3">
                                                    <label for="inputCant" class="control-label">Personas</label>
                                                    <div class="input-group col-lg-8">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user fa fa-user"></i></span>
                                                        <input type="text" class="form-control" id="inputCant" placeholder="1">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-10 col-lg-offset-8">
                                                        <button type="reset" class="btn btn-default">Reset</button>
                                                        <button type="submit" class="btn btn-primary">Reservar</button>
                                                    </div>
                                                </div>
                                          </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /PESCA -->
                        </div>
                        <div class="tab-pane fade" id="camping">
                            <!-- CAMPING-->
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{servicios['camping'].servicio.nombre}}</h3>
                                </div>
                                <div class="panel-body ">
                                    <div class="col-lg-11">
                                        <div class="well">
                                          <form class="form-horizontal">
                                                <div class="form-group col-lg-4">
                                                    <label for="inputPassword" class="control-label">Fecha</label>
                                                    <div class="input-group col-lg-10">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                                        <input type="text" style="width: 200px" name="fecha_camping" id="fecha_camping" class="form-control" value="03/18/2016 - 03/23/2016" />
                                                    </div>
                                                </div>


                                                <div class="form-group col-lg-3">
                                                    <label for="inputCant" class="control-label">Personas</label>
                                                    <div class="input-group col-lg-8">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user fa fa-user"></i></span>
                                                        <input type="text" class="form-control" id="inputCant" placeholder="1">
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-3">
                                                    <label for="inputCant" class="control-label">Carpas</label>
                                                    <div class="input-group col-lg-8">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user fa fa-house"></i></span>
                                                        <input type="text" class="form-control" id="inputCant" placeholder="1">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-10 col-lg-offset-8">
                                                        <button type="reset" class="btn btn-default">Reset</button>
                                                        <button type="submit" class="btn btn-primary">Reservar</button>
                                                    </div>
                                                </div>
                                          </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /CAMPING -->
                        </div>
                    </div>
              </div>
          </div>
        </div>  
          
            
          
               

                    
            <a class="btn btn-default" role= "menuitem" data-toggle="modal" data-target=".bs-example-modal-sm">Modal Test</a>
                <a class="btn btn-default" role="menuitem" data-toggle="modal" data-target=".bs-example2-modal-sm">Modal </a>
                <button type="submit" class="btn btn-success btn-block" data-dismiss="modal" onclick="requestHabitacionesDisponibles();">Habitaciones Disponibles</button>

            <div class="modal bs-example-modal-sm">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                  </div>
                  <div class="modal-body">
                    <p>One fine body…</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

{% endblock %}


{% block footer %}  {{ parent() }}  {% endblock %}


{% block script %}{{ parent() }}  
    
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('/assets/js/moment/moment.min.js') }}"></script>
    <script src="{{ asset('/assets/js/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>



    <script type="text/javascript">
        
        $('#fecha_posada').daterangepicker({
            locale: {   format: 'DD/MM/YYYY'}   ,
            startDate:  "{{ "now"|date("d/m/Y") }}",
            endDate: "{{"+7 day"|date("d/m/Y") }}"
        });
        $('#fecha_restaurant').daterangepicker({
            locale: {   format: 'DD/MM/YYYY'}   ,
            startDate:  "{{ "now"|date("d/m/Y") }}",
            endDate: "{{"now"|date("d/m/Y") }}"
        });
        $('#fecha_camping').daterangepicker({
            locale: {   format: 'DD/MM/YYYY'}   ,
            startDate:  "{{ "now"|date("d/m/Y") }}",
            endDate: "{{"+7 day"|date("d/m/Y") }}"
        });
        $('#fecha_paseo_nautico').daterangepicker({
            locale: {   format: 'DD/MM/YYYY'}   ,
            startDate:  "{{ "now"|date("d/m/Y") }}",
            endDate: "{{"now"|date("d/m/Y") }}"
        });
        $('#fecha_guia_pesca').daterangepicker({
            locale: {   format: 'DD/MM/YYYY'}   ,
            startDate:  "{{ "now"|date("d/m/Y") }}",
            endDate: "{{"now"|date("d/m/Y") }}"
        });
        $('#fecha_cabalgata').daterangepicker({
            locale: {   format: 'DD/MM/YYYY'}   ,
            startDate:  "{{ "now"|date("d/m/Y") }}",
            endDate: "{{"now"|date("d/m/Y") }}"
        });
        $('#fecha_pesca').daterangepicker({
            locale: {   format: 'DD/MM/YYYY'}   ,
            startDate:  "{{ "now"|date("d/m/Y") }}",
            endDate: "{{"+ 1 day"|date("d/m/Y") }}"
        });

    </script>

    <!-- Ecorp Consulta habitaciones disponibles-->

    <script>
        // Ejecuta la eliminicación de la reserva y responde sobre el estado
     function requestHabitacionesDisponibles(){

        
        var fecha_inicio  =  $('#fecha_posada').data('daterangepicker').startDate.format('YYYY-MM-DD');
        var fecha_fin  =  $('#fecha_posada').data('daterangepicker').endDate.format('YYYY-MM-DD');
        console.debug(fecha_inicio);
        console.debug(fecha_fin);
        // Consulta Ajax
        $.ajax({
            type:"POST",
            url: "{{ path('ajax_habitaciones_disponibles') }}",
            data: {'fecha_incio':fecha_inicio ,'fecha_fin':fecha_fin},
            dataType: 'json',
            success: function (response){              

                console.debug(response.habitaciones);

                var json_habitaciones = $.parseJSON(response.habitaciones);

                console.debug(json_habitaciones);

                $('#tb_habitaciones tbody > tr').empty();
                for( i in json_habitaciones){
                    var h = json_habitaciones[i];

                    $('#tb_habitaciones').append('<tr><td><p>'+h.id+'</p></td><td><p>'+h.cantCamasSimples+' Simple  y   '+h.cantCamasDoble+' Doble <p></td><td>$ '+h.valorHabitacion+' </td><td class="a-center "><input type="checkbox" class="flat" name="habitaciones[]" value="'+h.id+'"></td></tr>');    
                }

                
                
                //Respuesta
                /*if(response.mje ==  "OK"){
                    new PNotify({
                    title: 'Reserva Eliminada',
                    text: 'Se han guardo los cambios del cliente',
                    type: 'success',                    
                    styling: 'bootstrap3'
                    });
                  window.scrollTo(0,0);

                }
                else{
                    // Estado Invalido
                    new PNotify({
                    title: 'No eliminar la reserva',
                    text: 'Hubo un problema elimnando la reserva '+ id_reserva + ". Intentelo mas tarde.",
                    type: 'error',                    
                    styling: 'bootstrap3'
                    });
                }*/
            }
          });
     }    
    </script>

    {% endblock %}