{% extends 'panel_usuario_base.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block navbar %} {{ parent() }} {% endblock %}
{% block status_bar %} {{ parent() }} {% endblock %}
{% block body %} {{ parent() }} {% endblock %}


{% block contenido %} 
            

        <legend>Reservación de Servicios: </legend>
        {{dump(servicios)}}
        
        <div class="bs-docs-section">
          <div class="row">
            <div class="col-lg-7">
            <p>Haga sus reservas comodamente desde su celular, tablet o computadora en cualquier momento y sitio donde se encuentre</p>
            <p><small>Seleccione los servicios y configure el horario disponible</small></p>
            <p>Podrá abonar sus reservas con tarjeta de crédito <strong>con un simple click</strong>.</p>
            <p>Si tiene alguna duda puede contactarse con Añoranzas Chaqueñas enviando un <a href="#"> mensaje por aqui </a></p>

             <a class="btn btn-default" role= "menuitem" data-toggle="modal" data-target=".bs-example-modal-sm">Modal Test</a>
                <a class="btn btn-default" role="menuitem" data-toggle="modal" data-target=".bs-example2-modal-sm">Modal </a>
                <button type="submit" class="btn btn-success btn-block" data-dismiss="modal" onclick="requestHabitacionesDisponibles();">Habitaciones Disponibles</button>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-10">
                  <ul class="nav nav-tabs">

                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          Alojamiento <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="#dropdown1" data-toggle="tab">Posada</a></li>
                          <li class="divider"></li>
                          <li><a href="#dropdown2" data-toggle="tab">Camping</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          Actividades Nauticas <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="#dropdown1" data-toggle="tab">Guia de Pesca</a></li>
                          <li class="divider"></li>
                          <li><a href="#dropdown2" data-toggle="tab">Paseo Nautico</a></li>
                          <li class="divider"></li>
                          <li><a href="#dropdown2" data-toggle="tab">Pesca</a></li>
                        </ul>
                      </li>
                      <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">Restaurant</a></li>
                      <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false" >Cabalgata</a></li>
                    </ul>
              </div>
          </div>
        </div>  
          
            
          
               

                              
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-11">
                <!-- RESTAURANT -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{servicios['restaurant'].servicio.nombre}}</h3>
                    </div>
                    <div class="panel-body ">
                        <div class="col-lg-11">
                            <div class="well">
                              <form class="form-horizontal">
                                    <div class="form-group col-lg-4">
                                        <label for="inputPassword" class="control-label">Fecha</label>
                                        <div class="input-group col-lg-10">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                            <input type="text" style="width: 200px" name="reservation2" id="reservation2" class="form-control" value="03/18/2016 - 03/23/2016" />
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4">
                                        <label for="select" class="control-label">Horarios</label>
                                        <div class="input-group col-lg-10">
                                          <select class="form-control">
                                            {%for  item in horarios['restaurant'] %}
                                            <option>{{item.horaInicio|date("h:m:s")}} - {{item.horaFin|date("h:m:s")}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label for="inputCant" class="control-label">Personas</label>
                                        <div class="input-group col-lg-8">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user fa fa-user"></i></span>
                                            <input type="text" class="form-control" id="inputCant" placeholder="1">
                                        </div>
                                    </div>
                            

                                    
                                        <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-8">
                                            <button type="reset" class="btn btn-default">Reset</button>
                                            <button type="submit" class="btn btn-primary">Reservar</button>
                                        </div>
                                        </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /RESTAURANT  -->


                <!-- CABALGATA -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{servicios['cabalgata'].servicio.nombre}}</h3>
                    </div>
                    <div class="panel-body ">
                        <div class="col-lg-11">
                            <div class="well">
                              <form class="form-horizontal">
                                    <div class="form-group col-lg-4">
                                        <label for="inputPassword" class="control-label">Fecha</label>
                                        <div class="input-group col-lg-10">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                            <input type="text" style="width: 200px" name="reservation2" id="reservation2" class="form-control" value="03/18/2016 - 03/23/2016" />
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4">
                                        <label for="select" class="control-label">Horarios</label>
                                        <div class="input-group col-lg-10">
                                          <select class="form-control">
                                            {%for  item in horarios['cabalgata'] %}
                                            <option>{{item.horaInicio|date("h:m:s")}} - {{item.horaFin|date("h:m:s")}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label for="inputCant" class="control-label">Personas</label>
                                        <div class="input-group col-lg-8">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user fa fa-user"></i></span>
                                            <input type="text" class="form-control" id="inputCant" placeholder="1">
                                        </div>
                                    </div>
                            

                                    
                                        <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-8">
                                            <button type="reset" class="btn btn-default">Reset</button>
                                            <button type="submit" class="btn btn-primary">Reservar</button>
                                        </div>
                                        </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /CABALGATA -->

                <!-- POSADA -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{servicios['posada'].servicio.nombre}}</h3>
                    </div>
                    <div class="panel-body ">
                        <div class="col-lg-11">
                            <div class="well">
                              <form class="form-horizontal">
                                    <div class="form-group col-lg-4">
                                        <label for="inputPassword" class="control-label">Fecha</label>
                                        <div class="input-group col-lg-10">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                            <input type="text" style="width: 200px" name="reservation2" id="reservation2" class="form-control" value="03/18/2016 - 03/23/2016" />
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label for="inputCant" class="control-label">Personas</label>
                                        <div class="input-group col-lg-8">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user fa fa-user"></i></span>
                                            <input type="text" class="form-control" id="inputCant" placeholder="1">
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                                <label for="inputPassword" class="control-label">Habitaciones</label>
                                        <table class="table table-striped table-hover ">
                                          <thead>
                                            <tr>
                                              <th>#</th><th>Camas</th><th>Valor</th><th><span class="nobr">Selección  </span></th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% set i = 1 %}
                                            {%  for item in habitaciones%}
                                            <tr >
                                                <td><p>{{item.id}}</p></td>
                                                <td><p>{{item.cantCamasSimples}} Simple   y   {{item.cantCamasDoble}} Doble <p></td>
                                                <td>${{item.valorHabitacion}}</td>
                                                <td class="a-center ">
                                                    <input type="checkbox" class="flat" name="habitaciones[]" value="{{item.id}}">
                                                </td>
                                            </tr>
                                            {% set i = i+1 %}
                                            {%endfor %}
                                          </tbody>
                                        </table>
                                    </div>
                                        <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-8">
                                            <button type="reset" class="btn btn-default">Reset</button>
                                            <button type="submit" class="btn btn-primary">Reservar</button>
                                        </div>
                                        </div>
                              </form>
                            </div>
                        </div>
                        

                    </div>
                </div>
                <!-- /POSADA -->

                <!-- GUIA PESCA -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{servicios['guia_pesca'].servicio.nombre}}</h3>
                    </div>
                    <div class="panel-body ">
                        <div class="col-lg-11">
                            <div class="well">
                              <form class="form-horizontal">
                                    <div class="form-group col-lg-4">
                                        <label for="inputPassword" class="control-label">Fecha</label>
                                        <div class="input-group col-lg-10">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                            <input type="text" style="width: 200px" name="reservation2" id="reservation2" class="form-control" value="03/18/2016 - 03/23/2016" />
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4">
                                        <label for="select" class="control-label">Horarios</label>
                                        <div class="input-group col-lg-10">
                                          <select class="form-control">
                                            {%for  item in horarios['guia_pesca'] %}
                                            <option>{{item.horaInicio|date("h:m:s")}} - {{item.horaFin|date("h:m:s")}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label for="inputCant" class="control-label">Personas</label>
                                        <div class="input-group col-lg-8">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user fa fa-user"></i></span>
                                            <input type="text" class="form-control" id="inputCant" placeholder="1">
                                        </div>
                                    </div>
                            

                                    
                                        <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-8">
                                            <button type="reset" class="btn btn-default">Reset</button>
                                            <button type="submit" class="btn btn-primary">Reservar</button>
                                        </div>
                                        </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /GUIA PESCA  -->

                <!-- PASEO NAUTICO -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{servicios['paseo_nautico'].servicio.nombre}}</h3>
                    </div>
                    <div class="panel-body ">
                        <div class="col-lg-11">
                            <div class="well">
                              <form class="form-horizontal">
                                    <div class="form-group col-lg-4">
                                        <label for="inputPassword" class="control-label">Fecha</label>
                                        <div class="input-group col-lg-10">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                            <input type="text" style="width: 200px" name="reservation2" id="reservation2" class="form-control" value="03/18/2016 - 03/23/2016" />
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4">
                                        <label for="select" class="control-label">Horarios</label>
                                        <div class="input-group col-lg-10">
                                          <select class="form-control">
                                            {%for  item in horarios['paseo_nautico'] %}
                                            <option>{{item.horaInicio|date("h:m:s")}} - {{item.horaFin|date("h:m:s")}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label for="inputCant" class="control-label">Personas</label>
                                        <div class="input-group col-lg-8">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user fa fa-user"></i></span>
                                            <input type="text" class="form-control" id="inputCant" placeholder="1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-8">
                                            <button type="reset" class="btn btn-default">Reset</button>
                                            <button type="submit" class="btn btn-primary">Reservar</button>
                                        </div>
                                    </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /PASEO NAUTICO -->

                <!-- PESCA-->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{servicios['pesca'].servicio.nombre}}</h3>
                    </div>
                    <div class="panel-body ">
                        <div class="col-lg-11">
                            <div class="well">
                              <form class="form-horizontal">
                                    <div class="form-group col-lg-4">
                                        <label for="inputPassword" class="control-label">Fecha</label>
                                        <div class="input-group col-lg-10">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                            <input type="text" style="width: 200px" name="reservation2" id="reservation2" class="form-control" value="03/18/2016 - 03/23/2016" />
                                        </div>
                                    </div>


                                    <div class="form-group col-lg-3">
                                        <label for="inputCant" class="control-label">Personas</label>
                                        <div class="input-group col-lg-8">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user fa fa-user"></i></span>
                                            <input type="text" class="form-control" id="inputCant" placeholder="1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-8">
                                            <button type="reset" class="btn btn-default">Reset</button>
                                            <button type="submit" class="btn btn-primary">Reservar</button>
                                        </div>
                                    </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /PESCA -->


            </div>
        </div>
    </div>  
            

            <div class="modal bs-example-modal-sm">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                  </div>
                  <div class="modal-body">
                    <p>One fine body…</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

{% endblock %}


{% block footer %}  {{ parent() }}  {% endblock %}


{% block script %}{{ parent() }}  
    
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('/assets/js/moment/moment.min.js') }}"></script>
    <script src="{{ asset('/assets/js/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap-daterangepicker/daterangepicker.css" />

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>



    <script type="text/javascript">
        
        $('#reservation2').daterangepicker({
            locale: {   format: 'DD/MM/YYYY'}   ,
            startDate: "10/10/2016",
            endDate: "10/11/2016"
        });
    </script>

    <!-- Ecorp Consulta habitaciones disponibles-->

    <script>
        // Ejecuta la eliminicación de la reserva y responde sobre el estado
     function requestHabitacionesDisponibles(o){

        var fecha  = "2016-03-17";
        // Consulta Ajax
        $.ajax({
            type:"POST",
            url: "{{ path('ajax_habitaciones_disponibles') }}",
            data: {'fecha_incio':fecha },
            dataType: 'json',
             success: function (response){              

                console.debug(response);
                //Respuesta
                /*if(response.mje ==  "OK"){
                    new PNotify({
                    title: 'Reserva Eliminada',
                    text: 'Se han guardo los cambios del cliente',
                    type: 'success',                    
                    styling: 'bootstrap3'
                    });
                  window.scrollTo(0,0);

                }
                else{
                    // Estado Invalido
                    new PNotify({
                    title: 'No eliminar la reserva',
                    text: 'Hubo un problema elimnando la reserva '+ id_reserva + ". Intentelo mas tarde.",
                    type: 'error',                    
                    styling: 'bootstrap3'
                    });
                }*/
            }
          });
     }    
    </script>

    {% endblock %}