{% extends 'panel_usuario_base.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block navbar %} {{ parent() }} {% endblock %}
{% block status_bar %} {{ parent() }} {% endblock %}
{% block body %} {{ parent() }} {% endblock %}


{% block contenido %}

<legend>Pago de Reserva:</legend>

<div class="bs-docs-section">
	<div class="row">
		<div class="col-lg-12">
        	<blockquote>
            	<p>Ud. esta por confirmar una reserva, para poder terminar el proceso es necesario abonar la misma.</p>
                <p>A continuación solicitaremos que ingrese la forma de pago que Ud. prefiere y los datos de sus tarjeta de crédito.</p>
			</blockquote>
		</div>
    </div>
    <div class="row">
		<div class="col-lg-8">
		<form class="form-horizontal" method="POST" action="{{ path('usuario_pago_reservar', {'page': 'pagar'}) }}">
			<h3>Formas de pago</h3>
			<fieldset>
				 <div class="form-group">
					<label for="select" class="col-lg-2 control-label">Metodo de Pago</label>
			      	<div class="col-lg-10">
				        <select class="form-control" id="tipo_pago" name="tipoPago" onChange="setCantCuotas()">
				          	{% for item in formasDePago%}
				          		<option value="{{item.TipoPago.id}}_{{item.TipoPago.cantCuotas}}_{{item.TipoPago.interes}}">{{item.TipoPago.descripcion}}</option>
				          	{% endfor %}
			        	</select>
			     	</div>
			     </div>
			     
			     <div class="form-group">
					<label for="select" class="col-lg-2 control-label" >Cuotas</label>
			      	<div class="col-lg-10">
				        <select class="form-control" name="cuotas" id="cuotas">
			        	</select>
			     	</div>
				</div>

				<div class="form-group">
					<label for="select" class="col-lg-2 control-label">Nombre y Apellido</label>
			      	<div class="col-lg-10">
				        <input id="nombre" type="text" data-validate-length-range="2" data-validate-words="1" required="required" class="form-control" name="nombre" value=""/>
			     	</div>
				</div>

				<div class="form-group">
					<label for="select" class="col-lg-2 control-label">Número de la Tarjeta</label>
			      	<div class="col-lg-5">
				      	<input id="num_tarjeta" type="number" data-validate-length-range="2" data-validate-words="1" required="required" class="form-control" name="num_tarjeta" value=""/>
			     	</div>
				</div>
				<div class="form-group">
					<label for="select" class="col-lg-2 control-label">Vencimiento</label>
					<div class="row">
				      	<div class="col-lg-3">
					      	<select class="form-control" name="vencimiento_mes" id="vencimiento_mes">
					      		<option value="" disabled selected>Mes</option>
					      		<option value="1" >Enero</option>
					      		<option value="2" >Febrero</option>
					      		<option value="3" >Marzo</option>
					      		<option value="4" >Abril</option>
					      		<option value="5" >Mayo</option>
					      		<option value="6" >Junio</option>
					      		<option value="7" >Julio</option>
					      		<option value="8" >Agosto</option>
					      		<option value="9" >Septiembre</option>
					      		<option value="10" >Octubre</option>
					      		<option value="11" >Nombre</option>
					      		<option value="12" >Diciembre</option>
				        	</select>
				        </div>
				        <div class="col-lg-2">
				        	<select class="form-control" name="vencimiento_anio" id="vencimiento_anio">
					      		<option value="" disabled selected>Año</option>
					      		{% set anio = "now"|date("Y") %}
					      		{% for i in range(anio,anio+15) %}
					      			<option value="{{i}}" >{{i}}</option>	
					      		{% endfor %}
				        	</select>
				     	</div>
			     	</div>
				</div>
				<div class="form-group">
					<label for="select" class="col-lg-2 control-label">Cod Seguridad</label>
			      	<div class="col-lg-4">
				      	<input id="cod_seguridad" type="number" data-validate-length-range="2" data-validate-words="1" required="required" class="form-control" name="cod_seguridad" value=""/>
			     	</div>
				</div>

				<div class="form-group">
			      <div class="col-lg-10 col-lg-offset-2">
			      	<h4>Subtotal Neto : <strong id="subtotal_neto" class="text-success">$ {{reserva.valorTotal}} </strong></h4>
			      	<h4>Subtotal con IVA (21%) : <strong id="subtotal_iva" class="text-success">${{(reserva.valorTotal * 1.21)|number_format(2)}} </strong></h4>
			      	<h4>Total con Interes : <strong id="total_calculado" class="text-info"> ${{(reserva.valorTotal * 1.21)|number_format(2)}}</strong></h4>
			      	<input type="hidden" id="id_reserva" name="id_reserva" value="{{reserva.id}}"">
			      	<input type="hidden" id="valor_total" name="valor_total"  value="{{reserva.valorTotal}}">
			      	<input type="hidden" id="id_tipo_pago" name="id_tipo_pago"  value="">
			      	<input type="hidden" id="sel_cuotas" name="sel_cuotas"  value="">
			      	<input type="hidden" id="monto_abonado" name="monto_abonado"  value="">
			        <button type="reset" class="btn btn-default">Cancel</button>
			        <button type="submit" class="btn btn-primary">Pagar</button>
			      </div>
			    </div>
			</fieldset>
		</form>
		</div>
	</div>
</div>




{%endblock%}
{% block footer %}  {{ parent() }}  {% endblock %}
{% block script %}{{ parent() }}  

	<!--  accounting Number and Monoy Format-->
    <script src="/assets/js/accounting.js/accounting.min.js"></script>


	<script>
		
		function setCantCuotas(){

			var idTp_cantCoutas = $('#tipo_pago').val().split("_");
			var idTipoPago =parseInt(idTp_cantCoutas[0]);

			var cantMax = parseInt(idTp_cantCoutas[1]);
			var porcentajeInteres = parseInt(idTp_cantCoutas[2]);


			$('#id_tipo_pago').val(idTipoPago);
			$('#cuotas').empty();
			for(i=1 ; i<=cantMax; i++){
				console.debug(i);
				$('#cuotas').append($('<option>', {
				    value: i,
				    text: i
				}));
			}

          	var total_calculado = $('#valor_total').val();

          	console.debug("total:"+total_calculado);
          	var interes = (100+ eval(porcentajeInteres))/100;
          	console.debug("Monto del interes:"+interes);

          	total_calculado = total_calculado * interes * 1.21;

          	total_calculado = parseFloat(Math.round(total_calculado * 100) / 100).toFixed(2);

          	$('#monto_abonado').val(total_calculado);
          	$('#total_calculado').text(accounting.formatMoney(total_calculado, "$", 2, ".", ","));
		}

		



		
	</script>
{% endblock %}